<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/generos"></ion-back-button>
      </ion-buttons>
      <ion-title>Romance</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Bem-vindo ao gênero Romance</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Aqui você verá os livros de romance.
      </ion-card-content>
    </ion-card>
  </ion-content>
  