.card-genero {
  width: 100%;
  height: 150px;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.card-genero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.texto-genero {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  color: #000000; /* Texto preto */
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.7); /* Branco com 70% de opacidade */
  padding: 4px 8px;
  border-top-left-radius: 8px;
  margin: 0; /* Remove todas as margens */
}